{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.json", ".eslintrc", ".prettierrc", ".babelrc", ".stylelintrc"],
      "options": {
        "printWidth": 120,
        "parser": "json",
        "singleQuote": false,
        "tabWidth": 2,
        "bracketSpacing": false
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": true,
        "tabWidth": 4
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 20
      }
    }
  ]
}
